.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #5c4084;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.copied{
  display: none;
  position: relative;
}

.input-lg{
  font-size: 18px;
  border: 3px solid #5c4084;
  border-radius: 5px !important;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: black;
    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: blue;
    display: inline;
}

label:hover input[type="checkbox"] ~ i.fa {
    color: green;
}

div[data-toggle="buttons"] label:hover {
    color: green;
}

div[data-toggle="buttons"] label.active{
  color: blue;
  font-weight: bold;
}

div[data-toggle="buttons"] label {
padding: 6px 12px;
margin-bottom: 0;
font-weight: bold;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: center;
cursor: pointer;
color: black;
}